<a href="https://colab.research.google.com/github/Bhanu9900/All-files/blob/main/CIE_test_2_Re_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv("/content/stock_data.csv")
print(df)

            Date   Open   High    Low  Close    Volume  Name
0       1/3/2006  39.69  41.22  38.79  40.91  24232729  AABA
1       1/4/2006  41.22  41.90  40.77  40.97  20553479  AABA
2       1/5/2006  40.93  41.73  40.85  41.53  12829610  AABA
3       1/6/2006  42.88  43.57  42.80  43.21  29422828  AABA
4       1/9/2006  43.10  43.66  42.82  43.42  16268338  AABA
...          ...    ...    ...    ...    ...       ...   ...
3014  12/22/2017  71.42  71.87  71.22  71.58  10979165  AABA
3015  12/26/2017  70.94  71.39  69.63  69.86   8542802  AABA
3016  12/27/2017  69.77  70.49  69.69  70.06   6345124  AABA
3017  12/28/2017  70.12  70.32  69.51  69.82   7556877  AABA
3018  12/29/2017  69.79  70.13  69.43  69.85   6613070  AABA

[3019 rows x 7 columns]

In [ ]:
import numpy as np
df=df.replace(70,np.nan)
print(df)

            Date   Open   High    Low  Close    Volume  Name  ranking
0       1/3/2006  39.69  41.22  38.79  40.91  24232729  AABA   2506.0
1       1/4/2006  41.22  41.90  40.77  40.97  20553479  AABA   2516.0
2       1/5/2006  40.93  41.73  40.85  41.53  12829610  AABA   2549.0
3       1/6/2006  42.88  43.57  42.80  43.21  29422828  AABA   2634.5
4       1/9/2006  43.10  43.66  42.82  43.42  16268338  AABA   2643.0
...          ...    ...    ...    ...    ...       ...   ...      ...
3014  12/22/2017  71.42  71.87  71.22  71.58  10979165  AABA   3010.0
3015  12/26/2017  70.94  71.39  69.63  69.86   8542802  AABA   2987.0
3016  12/27/2017  69.77  70.49  69.69  70.06   6345124  AABA   2988.5
3017  12/28/2017  70.12  70.32  69.51  69.82   7556877  AABA   2985.0
3018  12/29/2017  69.79  70.13  69.43  69.85   6613070  AABA   2986.0

[3019 rows x 8 columns]

In [ ]:
df.dropna()

            Date   Open   High    Low  Close    Volume  Name
0       1/3/2006  39.69  41.22  38.79  40.91  24232729  AABA
1       1/4/2006  41.22  41.90  40.77  40.97  20553479  AABA
2       1/5/2006  40.93  41.73  40.85  41.53  12829610  AABA
3       1/6/2006  42.88  43.57  42.80  43.21  29422828  AABA
4       1/9/2006  43.10  43.66  42.82  43.42  16268338  AABA
...          ...    ...    ...    ...    ...       ...   ...
3014  12/22/2017  71.42  71.87  71.22  71.58  10979165  AABA
3015  12/26/2017  70.94  71.39  69.63  69.86   8542802  AABA
3016  12/27/2017  69.77  70.49  69.69  70.06   6345124  AABA
3017  12/28/2017  70.12  70.32  69.51  69.82   7556877  AABA
3018  12/29/2017  69.79  70.13  69.43  69.85   6613070  AABA

[3016 rows x 7 columns]

In [ ]:
df.dropna(axis=1)

            Date    Low    Volume  Name
0       1/3/2006  38.79  24232729  AABA
1       1/4/2006  40.77  20553479  AABA
2       1/5/2006  40.85  12829610  AABA
3       1/6/2006  42.80  29422828  AABA
4       1/9/2006  42.82  16268338  AABA
...          ...    ...       ...   ...
3014  12/22/2017  71.22  10979165  AABA
3015  12/26/2017  69.63   8542802  AABA
3016  12/27/2017  69.69   6345124  AABA
3017  12/28/2017  69.51   7556877  AABA
3018  12/29/2017  69.43   6613070  AABA

[3019 rows x 4 columns]

In [ ]:
df.fillna(0)

            Date   Open   High    Low  Close    Volume  Name
0       1/3/2006  39.69  41.22  38.79  40.91  24232729  AABA
1       1/4/2006  41.22  41.90  40.77  40.97  20553479  AABA
2       1/5/2006  40.93  41.73  40.85  41.53  12829610  AABA
3       1/6/2006  42.88  43.57  42.80  43.21  29422828  AABA
4       1/9/2006  43.10  43.66  42.82  43.42  16268338  AABA
...          ...    ...    ...    ...    ...       ...   ...
3014  12/22/2017  71.42  71.87  71.22  71.58  10979165  AABA
3015  12/26/2017  70.94  71.39  69.63  69.86   8542802  AABA
3016  12/27/2017  69.77  70.49  69.69  70.06   6345124  AABA
3017  12/28/2017  70.12  70.32  69.51  69.82   7556877  AABA
3018  12/29/2017  69.79  70.13  69.43  69.85   6613070  AABA

[3019 rows x 7 columns]

In [ ]:
df.describe()

              Open         High          Low        Close        Volume
count  3018.000000  3018.000000  3019.000000  3018.000000  3.019000e+03
mean     28.420325    28.760490    28.066558    28.406567  2.158391e+07
std      13.255125    13.354779    13.157326    13.256040  1.926231e+07
min       9.100000     9.480000     8.940000     8.950000  1.939061e+06
25%      16.172500    16.382500    15.970000    16.130000  1.248025e+07
50%      27.175000    27.485000    26.820000    27.100000  1.732130e+07
75%      36.650000    37.015000    36.305000    36.622500  2.512757e+07
max      73.020000    73.250000    72.460000    72.930000  4.382317e+08

In [ ]:
df.isnull().sum()

Date      0
Open      1
High      1
Low       0
Close     1
Volume    0
Name      0
dtype: int64

In [ ]:
import pandas as pd
df=pd.read_csv("/content/stock_data.csv")
print("remove the objects missing values")
column_rows=df.dropna()
print(column_rows)

remove the objects missing values
            Date   Open   High    Low  Close    Volume  Name
0       1/3/2006  39.69  41.22  38.79  40.91  24232729  AABA
1       1/4/2006  41.22  41.90  40.77  40.97  20553479  AABA
2       1/5/2006  40.93  41.73  40.85  41.53  12829610  AABA
3       1/6/2006  42.88  43.57  42.80  43.21  29422828  AABA
4       1/9/2006  43.10  43.66  42.82  43.42  16268338  AABA
...          ...    ...    ...    ...    ...       ...   ...
3014  12/22/2017  71.42  71.87  71.22  71.58  10979165  AABA
3015  12/26/2017  70.94  71.39  69.63  69.86   8542802  AABA
3016  12/27/2017  69.77  70.49  69.69  70.06   6345124  AABA
3017  12/28/2017  70.12  70.32  69.51  69.82   7556877  AABA
3018  12/29/2017  69.79  70.13  69.43  69.85   6613070  AABA

[3019 rows x 7 columns]

In [ ]:
import pandas as pd
df=pd.read_csv("/content/stock_data.csv")
numeric_df = df.select_dtypes(include=['number'])
zrs=numeric_df.mean()/numeric_df.std()
z_scores=numeric_df.mean()/numeric_df.std()
print(z_scores)

Open      2.144223
High      2.153717
Low       2.133151
Close     2.143036
Volume    1.120526
dtype: float64

In [ ]:
#interpolate
import pandas as pd
df=pd.read_csv("/content/stock_data.csv")
df=df.interpolate(method='linear')
print(df)
print()

            Date   Open   High    Low  Close    Volume  Name
0       1/3/2006  39.69  41.22  38.79  40.91  24232729  AABA
1       1/4/2006  41.22  41.90  40.77  40.97  20553479  AABA
2       1/5/2006  40.93  41.73  40.85  41.53  12829610  AABA
3       1/6/2006  42.88  43.57  42.80  43.21  29422828  AABA
4       1/9/2006  43.10  43.66  42.82  43.42  16268338  AABA
...          ...    ...    ...    ...    ...       ...   ...
3014  12/22/2017  71.42  71.87  71.22  71.58  10979165  AABA
3015  12/26/2017  70.94  71.39  69.63  69.86   8542802  AABA
3016  12/27/2017  69.77  70.49  69.69  70.06   6345124  AABA
3017  12/28/2017  70.12  70.32  69.51  69.82   7556877  AABA
3018  12/29/2017  69.79  70.13  69.43  69.85   6613070  AABA

[3019 rows x 7 columns]

<ipython-input-63-78a5edf9bf3f>:4: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df=df.interpolate(method='linear')

In [ ]:
#log transfromation
import pandas as pd
import numpy as np
df=pd.read_csv("/content/stock_data.csv")
df['Log_transfromation'] = np.log(df['Close'])
print(df)

            Date   Open   High    Low  Close    Volume  Name  \
0       1/3/2006  39.69  41.22  38.79  40.91  24232729  AABA
1       1/4/2006  41.22  41.90  40.77  40.97  20553479  AABA
2       1/5/2006  40.93  41.73  40.85  41.53  12829610  AABA
3       1/6/2006  42.88  43.57  42.80  43.21  29422828  AABA
4       1/9/2006  43.10  43.66  42.82  43.42  16268338  AABA
...          ...    ...    ...    ...    ...       ...   ...
3014  12/22/2017  71.42  71.87  71.22  71.58  10979165  AABA
3015  12/26/2017  70.94  71.39  69.63  69.86   8542802  AABA
3016  12/27/2017  69.77  70.49  69.69  70.06   6345124  AABA
3017  12/28/2017  70.12  70.32  69.51  69.82   7556877  AABA
3018  12/29/2017  69.79  70.13  69.43  69.85   6613070  AABA

      Log_transfromation
0               3.711375
1               3.712840
2               3.726416
3               3.766072
4               3.770920
...                  ...
3014            4.270816
3015            4.246493
3016            4.249352
3017            4.245921
3018            4.246350

[3019 rows x 8 columns]

In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv("/content/stock_data.csv")
df['binary code']=np.where(df['Open']>50,1,0)
print(df)

            Date   Open   High    Low  Close    Volume  Name  binary code
0       1/3/2006  39.69  41.22  38.79  40.91  24232729  AABA            0
1       1/4/2006  41.22  41.90  40.77  40.97  20553479  AABA            0
2       1/5/2006  40.93  41.73  40.85  41.53  12829610  AABA            0
3       1/6/2006  42.88  43.57  42.80  43.21  29422828  AABA            0
4       1/9/2006  43.10  43.66  42.82  43.42  16268338  AABA            0
...          ...    ...    ...    ...    ...       ...   ...          ...
3014  12/22/2017  71.42  71.87  71.22  71.58  10979165  AABA            1
3015  12/26/2017  70.94  71.39  69.63  69.86   8542802  AABA            1
3016  12/27/2017  69.77  70.49  69.69  70.06   6345124  AABA            1
3017  12/28/2017  70.12  70.32  69.51  69.82   7556877  AABA            1
3018  12/29/2017  69.79  70.13  69.43  69.85   6613070  AABA            1

[3019 rows x 8 columns]

In [ ]:
#add an attribute
import pandas as pd
import numpy as np
df=pd.read_csv("/content/stock_data.csv")
df['Low']=np.random.randint(0,100,size=len(df))
print(df)

            Date   Open   High  Low  Close    Volume  Name
0       1/3/2006  39.69  41.22   41  40.91  24232729  AABA
1       1/4/2006  41.22  41.90   28  40.97  20553479  AABA
2       1/5/2006  40.93  41.73   50  41.53  12829610  AABA
3       1/6/2006  42.88  43.57    7  43.21  29422828  AABA
4       1/9/2006  43.10  43.66   96  43.42  16268338  AABA
...          ...    ...    ...  ...    ...       ...   ...
3014  12/22/2017  71.42  71.87   94  71.58  10979165  AABA
3015  12/26/2017  70.94  71.39   83  69.86   8542802  AABA
3016  12/27/2017  69.77  70.49   68  70.06   6345124  AABA
3017  12/28/2017  70.12  70.32   20  69.82   7556877  AABA
3018  12/29/2017  69.79  70.13   92  69.85   6613070  AABA

[3019 rows x 7 columns]

In [ ]:
#data reduction
import pandas as pd
import numpy as np
df=pd.read_csv("/content/stock_data.csv")
df=df.drop(['Volume','High'],axis=1)
print(df)

            Date   Open    Low  Close  Name
0       1/3/2006  39.69  38.79  40.91  AABA
1       1/4/2006  41.22  40.77  40.97  AABA
2       1/5/2006  40.93  40.85  41.53  AABA
3       1/6/2006  42.88  42.80  43.21  AABA
4       1/9/2006  43.10  42.82  43.42  AABA
...          ...    ...    ...    ...   ...
3014  12/22/2017  71.42  71.22  71.58  AABA
3015  12/26/2017  70.94  69.63  69.86  AABA
3016  12/27/2017  69.77  69.69  70.06  AABA
3017  12/28/2017  70.12  69.51  69.82  AABA
3018  12/29/2017  69.79  69.43  69.85  AABA

[3019 rows x 5 columns]

In [ ]:
#data redundancy
import pandas as pd
import numpy as np
df=pd.read_csv("/content/stock_data.csv")
df=df.drop_duplicates(subset=['Name'])
print(df)

       Date   Open   High    Low  Close    Volume  Name
0  1/3/2006  39.69  41.22  38.79  40.91  24232729  AABA

In [ ]:
#Standardizartion
import pandas as pd
from sklearn.preprocessing import StandardScaler
df=pd.read_csv("/content/stock_data.csv")
features=['High','Close']
scaler=StandardScaler()
df[features]=scaler.fit_transform(df[features])
print(df)

            Date   Open      High    Low     Close    Volume  Name
0       1/3/2006  39.69  0.932531  38.79  0.942766  24232729  AABA
1       1/4/2006  41.22  0.983450  40.77  0.947292  20553479  AABA
2       1/5/2006  40.93  0.970721  40.85  0.989537  12829610  AABA
3       1/6/2006  42.88  1.108502  42.80  1.116273  29422828  AABA
4       1/9/2006  43.10  1.115241  42.82  1.132115  16268338  AABA
...          ...    ...       ...    ...       ...       ...   ...
3014  12/22/2017  71.42  3.227641  71.22  3.256441  10979165  AABA
3015  12/26/2017  70.94  3.191698  69.63  3.126688   8542802  AABA
3016  12/27/2017  69.77  3.124305  69.69  3.141776   6345124  AABA
3017  12/28/2017  70.12  3.111575  69.51  3.123671   7556877  AABA
3018  12/29/2017  69.79  3.097348  69.43  3.125934   6613070  AABA

[3019 rows x 7 columns]

In [ ]:
#Discrentization
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv("/content/stock_data.csv")
df['discretization']=pd.cut(df['Open'],bins=[0,25,50,75,100],labels=['Low','Medium','High','Very High'])
print(df)

            Date   Open   High    Low  Close    Volume  Name discretization
0       1/3/2006  39.69  41.22  38.79  40.91  24232729  AABA         Medium
1       1/4/2006  41.22  41.90  40.77  40.97  20553479  AABA         Medium
2       1/5/2006  40.93  41.73  40.85  41.53  12829610  AABA         Medium
3       1/6/2006  42.88  43.57  42.80  43.21  29422828  AABA         Medium
4       1/9/2006  43.10  43.66  42.82  43.42  16268338  AABA         Medium
...          ...    ...    ...    ...    ...       ...   ...            ...
3014  12/22/2017  71.42  71.87  71.22  71.58  10979165  AABA           High
3015  12/26/2017  70.94  71.39  69.63  69.86   8542802  AABA           High
3016  12/27/2017  69.77  70.49  69.69  70.06   6345124  AABA           High
3017  12/28/2017  70.12  70.32  69.51  69.82   7556877  AABA           High
3018  12/29/2017  69.79  70.13  69.43  69.85   6613070  AABA           High

[3019 rows x 8 columns]

In [ ]:
#Z_scores
numeric_df = df.select_dtypes(include='number')
zrs = numeric_df.mean() / numeric_df.std()
print('Z-scores:\n', zrs)
thershold = 2
result1 = zrs[np.abs(zrs) > thershold]
print('thershold:\n', result1)

Z-scores:
 Open      2.144223
High      2.153717
Low       2.133151
Close     2.143036
Volume    1.120526
dtype: float64
thershold:
 Open     2.144223
High     2.153717
Low      2.133151
Close    2.143036
dtype: float64

In [ ]:
#Baivarite
from scipy.spatial.distance import mahalanobis
df1=df[['Volume','Close']]
cv=np.cov(df1.T)
ivm=np.linalg.inv(cv)
d11=df1.mean().values
print(d11)

[2.15839122e+07 2.84127261e+01]

In [ ]:
#Ranking
import pandas as pd
df=pd.read_csv("/content/stock_data.csv")
df['ranking']=df['Close'].rank()
print(df)

            Date   Open   High    Low  Close    Volume  Name  ranking
0       1/3/2006  39.69  41.22  38.79  40.91  24232729  AABA   2506.0
1       1/4/2006  41.22  41.90  40.77  40.97  20553479  AABA   2516.0
2       1/5/2006  40.93  41.73  40.85  41.53  12829610  AABA   2549.0
3       1/6/2006  42.88  43.57  42.80  43.21  29422828  AABA   2634.5
4       1/9/2006  43.10  43.66  42.82  43.42  16268338  AABA   2643.0
...          ...    ...    ...    ...    ...       ...   ...      ...
3014  12/22/2017  71.42  71.87  71.22  71.58  10979165  AABA   3010.0
3015  12/26/2017  70.94  71.39  69.63  69.86   8542802  AABA   2987.0
3016  12/27/2017  69.77  70.49  69.69  70.06   6345124  AABA   2988.5
3017  12/28/2017  70.12  70.32  69.51  69.82   7556877  AABA   2985.0
3018  12/29/2017  69.79  70.13  69.43  69.85   6613070  AABA   2986.0

[3019 rows x 8 columns]

In [ ]:
#intigration
import pandas as pd
import numpy as np
df=pd.read_csv("/content/stock_data.csv")
df['intigration'] = df['Low'].diff()
print(df)

            Date   Open   High    Low  Close    Volume  Name  intigration
0       1/3/2006  39.69  41.22  38.79  40.91  24232729  AABA          NaN
1       1/4/2006  41.22  41.90  40.77  40.97  20553479  AABA         1.98
2       1/5/2006  40.93  41.73  40.85  41.53  12829610  AABA         0.08
3       1/6/2006  42.88  43.57  42.80  43.21  29422828  AABA         1.95
4       1/9/2006  43.10  43.66  42.82  43.42  16268338  AABA         0.02
...          ...    ...    ...    ...    ...       ...   ...          ...
3014  12/22/2017  71.42  71.87  71.22  71.58  10979165  AABA         0.34
3015  12/26/2017  70.94  71.39  69.63  69.86   8542802  AABA        -1.59
3016  12/27/2017  69.77  70.49  69.69  70.06   6345124  AABA         0.06
3017  12/28/2017  70.12  70.32  69.51  69.82   7556877  AABA        -0.18
3018  12/29/2017  69.79  70.13  69.43  69.85   6613070  AABA        -0.08

[3019 rows x 8 columns]